body{
	background-image: linear-gradient(120deg, rgba(5, 84, 211, 0.514) 0%, rgba(46, 109, 138, 0.123) 100%),url(../css/covid1.jpeg);
}
#video, video{
	margin: 0 auto;
	padding-top: 50px;
	width: 500px;
	height: 300px;
}
.titulo {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}